In [2]:
import csv

In [4]:
classDataCSV = open("C:/Users/Yamini/Desktop/classData.csv")
csv_f = csv.reader(classDataCSV)

for row in csv_f:
  print(row)

['No', 'GPA', 'Years of work experience', 'Latest salary (per year)', 'Highest GPA ', 'Lowest GPA', 'Coops/Internships (YN)', 'Number of contacts on Linkedin', 'Expected Salary after graduation']
['1', '3.5', '2.5', '45000', '3.5', '3.5', 'N', '250', '90000']
['3', '3.8', '1', '65000', '3.6', '3', 'Y', '400', '100000']
['4', '3.8', '2', '85000', '4', '3.6', 'Y', '500', '90000']
['5', '3.41', '1.5', '10000', '3.41', '3.33', 'N', '365', '100000']
['6', '3.33', '5', '70000', '3.67', '3', 'Y', '400', '100000']
['7', '3.52', '2.5', '27000', '3.58', '3.52', 'N', '230', '85000']
['8', '3.5', '2', '40000', '3.7', '3.3', 'N', '250', '90000']
['9', '3.5', '5', '75000', '3.53', '3.3', 'Y', '260', '100000']
['10', '3.6', '2.5', '65000', '3.9', '3.1', 'Y', '250', '110000']
['11', '3.2', '4', '62000', '3.8', '3', 'N', '525', '105000']
['12', '3.5', '2', '60000', '3.5', '3.5', 'N', '400', '85000']
['13', '3.67', '1.8', '60000', '4', '3', 'N', '920', '140000']
['14', '3.5', '2', '60000', '3.7', '3.3', 'y', '300', '90000']
['15', '3.47', '2.5', '70000', '3.64', '3.37', 'Y', '310', '95000']
['16', '3.06', '1.3', '40000', '3.64', '2.67', 'Y', '550', '120000']
['17', '3.27', '2', '60000', '4', '3', 'Y', '350', '100000']
['18', '3.53', '4', '50000', '4', '3.3', 'N', '600', '88000']
['19', '4', '4', '50000', '4', '4', 'Y', '500', '130000']
['20', '3.4', '1', '30000', '3.6', '3.1', 'N', '500', '80000']
['21', '3.54', '1', '40000', '4', '3.42', 'Y', '650', '95000']
['22', '3.5', '2', '75000', '4', '3', 'Y', '515', '80000']
['23', '3.5', '4', '50000', '3.8', '3.2', 'Y', '350', '110000']
['24', '3.4', '3', '50000', '3.8', '3.2', 'Y', '301', '90000']
['25', '3.93', '5', '', '', '', '', '', '']
['26', '3.3', '4', '65000', '4', '3.65', 'Y', '700', '100000']
['27', '3.9', '6', '90000', '4', '3.8', 'Y', '809', '120000']
['28', '3.17', '1', '50000', '3.3', '3', 'N', '258', '100000']
['29', '3.48', '3.5', '60000', '4', '3.33', 'Y', '350', '100000']
['30', '3.93', '4', '43000', '4', '3.28', 'Y', '900', '100000']
['31', '3.43', '4', '60000', '3.5', '3.3', 'Y', '220', '110000']
['32', '3.33', '5', '5000', '3.66', '3', 'Y', '183', '100000']
['33', '3.6', '1.5', '60000', '3.7', '3.4', 'Y', '340', '100000']
['34', '3.8', '3', '65000', '3.8', '3.5', 'Y', '800', '80000']
['35', '3.5', '3', '65000', '4', '3.6', 'Y', '400', '80000']
['36', '3.39', '2', '60000', '3.8', '3.2', 'Y', '500', '90000']

In [5]:
import pandas as pd

In [6]:
classDataCSV_1 = pd.DataFrame.from_csv("C:/Users/Yamini/Desktop/classData.csv")

In [10]:
#---Min, Max, Median, Avg for GPA
classDataCSV_1['GPA'].median()

3.5

In [11]:
classDataCSV_1['GPA'].mean()

3.521714285714287

In [13]:
classDataCSV_1['GPA'].min()

3.0600000000000001

In [14]:
classDataCSV_1['GPA'].max()

4.0

In [15]:
#--Min, Max, Median, Avg for Years of work experience
classDataCSV_1['Years of work experience'].min()

1.0

In [16]:
classDataCSV_1['Years of work experience'].max()

6.0

In [17]:
classDataCSV_1['Years of work experience'].mean()

2.874285714285714

In [18]:
classDataCSV_1['Years of work experience'].median()

2.5

In [26]:
#----Find the mode of the Salary----
classDataCSV_1['Latest salary (per year)'].mode()

0    60000.0
dtype: float64

In [50]:
#----% of students having Co/op and not having Co/op

In [52]:
studentsWithoutCoop = classDataCSV_1.loc[classDataCSV_1['Coops/Internships (YN)'] == 'N'].count()
studentswithCoop = classDataCSV_1.loc[classDataCSV_1['Coops/Internships (YN)'] == 'Y'].count()

In [40]:
totalStudents = 36

In [41]:
studentsPercent_withcoop = (studentswithCoop/totalStudents)*100

In [55]:
print("studentsPercent_withcoop",(studentswithCoop/totalStudents)*100)

studentsPercent_withcoop GPA                                 63.888889
Years of work experience            63.888889
Latest salary (per year)            63.888889
Highest GPA                         63.888889
Lowest GPA                          63.888889
Coops/Internships (YN)              63.888889
Number of contacts on Linkedin      63.888889
Expected Salary after graduation    63.888889
dtype: float64

In [54]:
print("studentsPercent_withoutcoop",(studentsWithoutCoop/totalStudents)*100)

studentsPercent_withoutcoop GPA                                 27.777778
Years of work experience            27.777778
Latest salary (per year)            27.777778
Highest GPA                         27.777778
Lowest GPA                          27.777778
Coops/Internships (YN)              27.777778
Number of contacts on Linkedin      27.777778
Expected Salary after graduation    27.777778
dtype: float64

In [64]:
#----No of students with more than 500 LinkedIn contacts
studentsLinkedcontacts = classDataCSV_1[classDataCSV_1['Number of contacts on Linkedin']>500].count()

In [66]:
print('Number of contacts on Linkedin',studentsLinkedcontacts)

Number of contacts on Linkedin GPA                                 10
Years of work experience            10
Latest salary (per year)            10
Highest GPA                         10
Lowest GPA                          10
Coops/Internships (YN)              10
Number of contacts on Linkedin      10
Expected Salary after graduation    10
dtype: int64

In [73]:
import numpy as np

In [87]:
classDataCSV_2 = pd.DataFrame.from_csv("C:/Users/Yamini/Documents/classData.csv")

In [88]:
sortedlist = np.sort(classDataCSV_2['Expected Salary after graduation'])

In [89]:
print(sortedlist)

[ 80000  80000  80000  80000  85000  85000  88000  90000  90000  90000
  90000  90000  90000  95000  95000 100000 100000 100000 100000 100000
 100000 100000 100000 100000 100000 100000 100000 105000 110000 110000
 110000 120000 120000 130000 140000]

In [90]:
iqr = np.subtract(*np.percentile(sortedlist, [75, 25]))

In [91]:
print(iqr)

10000.0

In [92]:
print("Inter quartile range is:",iqr)

Inter quartile range is: 10000.0